.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    height: 100vh;
  }

 .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .img {
      width: 418 px;
      height: 800 px;
      border: 60 px;
      padding: 0;
      margin: auto;
    }
  